/equal.js
/equal.d.ts
/pointer.js
/pointer.d.ts
/diff.js
/diff.d.ts
/errors.js
/errors.d.ts
/patch.js
/patch.d.ts
/index.js
/index.d.ts
/tests/arrays.js
/tests/createTests.js
/tests/issues.js
/tests/pointer.js
/tests/spec.js
coverage/
