---
---
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>RFC6902 documentation</title>
  <meta name="description" content="Complete implementation of RFC6902 for creating and consuming 'application/json-patch+json' documents" />
  <link href="{{site.root}}/static/favicon.ico" rel="icon" type="image/x-icon" />
  <link href="{{site.root}}/static/site.css" rel="stylesheet" type="text/css" />
  <script src="{{site.root}}/static/lib/angular.min.js"></script>
  <script src="{{site.root}}/static/lib/ngStorage.min.js"></script>
  <script src="{{site.root}}/static/lib/rfc6902.min.js"></script>
  <script src="{{site.root}}/static/app.js"></script>
</head>
<body ng-app="app">
  {{content}}
</body>
